---
import MarkedText from "../../components/MarkedText.astro";
---

<div class="contact_right">
  <p>
    Ke <MarkedText>idenë</MarkedText> tënde <MarkedText>dixhitale?</MarkedText> Na
    shkruani tani – konsultimi është <MarkedText>falas</MarkedText> dhe pa obligim.
  </p>
  <p>Na thuaj disa gjëra për veten:</p>
 
</div>
