---
import ContactMethod from "./ContactMethod.astro";
---

<div class="contact_methods">
  <ContactMethod />
</div>
<style>
  .contact_methods {
    align-self: start;
    display: grid;
  }
</style>
