---
import SocialMedia from "../../components/SocialMedia.astro";
import ContactMethods from "./ContactMethods.astro";
---

<div class="contact_left">
  <ContactMethods />
  <SocialMedia />
</div>
<style>
  .contact_left {
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: var(--primary-btn-bg-hover);
    display: grid;
  }
  @media (max-width: 800px) {
    .contact_left {
        order: 2;
  }
</style>
