@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');
:root {
  /* Fonts */
  --logo-font: "Sora", sans-serif;
  --heading-font: "Poppins", sans-serif;
  --paragraph-font: "Inter", sans-serif;

  /* Colors */
  --main-bg: #1c1b2d;

  --logo-color: #fdf3f3;
  --title-color: white;
  --paragraph-color: #e5e5e5;

  --primary-btn-bg: #fcd34d;
  --primary-btn-bg-hover: rgb(83, 42, 117);
  /* sizes */
  --h1-size: 2.625rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg);
}
html{
  scroll-behavior: smooth;
}
body > * {
  overflow: hidden;
  padding: 10px 1rem;
  margin: 6rem auto 0 auto;
  max-width: 1285px;
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--heading-font);
}
h3 {
  padding-top: 4rem;
  text-align: center;
  opacity: 0;
  transform: translateY(-60%);
  font-size: 2.625rem;
}
h3.animate {
  animation: top-slide ease 0.7s both;
}
p,
a {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
}
a {
  text-decoration: none;
}

.menu ul li:last-child a:hover,
.project_btns a:last-child:hover,
.contact_form > *:last-child:hover {
  color: var(--primary-btn-bg);
  background-color: var(--primary-btn-bg-hover);
}
.menu ul li a:hover,
.project_btns a:first-child:hover {
  color: var(--main-bg);
  background-color: white;
}
.userFeatures {
  color: white;
  background-color: var(--main-bg);
  padding: 5px 20px;
}
.companiesFeatures {
  color: var(--primary-btn-bg);
  padding: 8px;
  font-size: 0.8rem;
  font-family: var(--paragraph-font);
  background-color: #26243a;
}
.primary {
  color: var(--main-bg) !important;
  background-color: var(--primary-btn-bg);
}
.secondary {
  border: 1px solid white;
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
}
.primary:hover {
  color: var(--primary-btn-bg) !important;
  background-color: var(--primary-btn-bg-hover);
}
.secondary:hover {
  color: var(--main-bg);
  background-color: white;
}
.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.member_cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.member_card {
  scale: 0.1;
  opacity: 0;
  box-shadow: 0px 0px 14px #100f18;
  padding: 0.8rem;
  border-radius: 8px;
}
.member_card.animate {
  animation: fade-in 0.7s ease both;
}

.sub_title {
  transform: translateX(-80%);
  text-transform: uppercase;
  margin-top: 5rem;
  margin-bottom: 1.125rem;
  opacity: 0.9;
  letter-spacing: 0.3rem;
  font-size: 1rem;
  color: var(--primary-btn-bg);
}

.sub_title.amimate {
  animation: slide-in 0.7s ease both;
}
@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes top-slide {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
