---
import "../styles/global.css";
import HeaderElement from "../layouts/Header/HeaderElement.astro";

import HeroSection from "../layouts/Hero_Section/HeroSection.astro";
import DescriptionCollapse from "../components/DescriptionCollapse.vue";
import FeaturesCards from "../components/FeaturesCards.astro";
import MemberInfo from "../layouts/Member/MemberInfo.astro";
import MemberCard from "../layouts/Member/MemberCard.astro";
import FullWidthLayout from "../layouts/FullWidthLayout.astro";
import AllCards from "../layouts/Member/AllCards.astro";
---

<!doctype html>
<html lang="sq">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Te Website Tech Albania, ne kombinojmë të menduarit strategjik me
            një ekzekutim të shpejtë dhe cilësor. Nga faqet e personalizuara
            deri te përvojat mbresëlënëse të përdoruesve."
    />
    <link rel="icon" href="Group-10-1.png" type="image/png" />
    <title>Website Tech Albania</title>
    <link rel="stylesheet" href="../styles/global.css" />
  </head>
  <body>
    <HeaderElement />

    <HeroSection />

    <FullWidthLayout className="about" idName="rreth_nesh">
      <h3>Reeth Nesh</h3>
      <div class="meeting_team">
        <p>Njihuni me ekipin tonë</p>
        <AllCards />
      </div>
    </FullWidthLayout>
  </body>
</html>
