---
import "../styles/global.css";
import HeaderElement from "../layouts/Header/HeaderElement.astro";
import DetailElement from "../components/DetailElement.astro";
import HeroSection from "../layouts/Hero_Section/HeroSection.astro";
import DescriptionCollapse from "../components/DescriptionCollapse.vue";
import FeaturesCards from "../components/FeaturesCards.astro";
import MemberInfo from "../layouts/Member/MemberInfo.astro";
import MemberCard from "../layouts/Member/MemberCard.astro";
import FullWidthLayout from "../layouts/FullWidthLayout.astro";
import AllCards from "../layouts/Member/AllCards.astro";
import PurposeCard from "../layouts/Purpose/PurposeCard.astro";
import MarkedText from "../components/MarkedText.astro";
import AllPurpose from "../layouts/Purpose/AllPurpose.astro";
import Details from "../layouts/Details.astro";
import ServiceCard from "../layouts/Service/ServiceCard.astro";
import AllServices from "../layouts/Service/AllServices.astro";
import ActionElement from "../components/ActionElement.astro";
import ProcessStep from "../layouts/Proccess/ProcessStep.astro";
import CtaSection from "../layouts/CtaSection.astro";
import ProjectCard from "../components/ProjectCard.astro";
import AllProjects from "../layouts/AllProjects.astro";
---

<!doctype html>
<html lang="sq">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Te Website Tech Albania, ne kombinojmë të menduarit strategjik me
            një ekzekutim të shpejtë dhe cilësor. Nga faqet e personalizuara
            deri te përvojat mbresëlënëse të përdoruesve."
    />
    <link rel="icon" href="Group-10-1.png" type="image/png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Sora&display=swap"
      rel="stylesheet"
    />
    <title>Website Tech Albania</title>
    <link rel="stylesheet" href="../styles/global.css" />
  </head>
  <body>
    <HeaderElement />

    <HeroSection />

    <FullWidthLayout className="about" idName="rreth_nesh">
      <h3>Reeth Nesh</h3>
      <div class="meeting_team">
        <p class="sub_title">Njihuni me ekipin tonë</p>
        <AllCards />
      </div>

      <div class="purpose">
        <p class="sub_title">Qëllimi ynë</p>
        <AllPurpose />
      </div>
    </FullWidthLayout>

    <section id="shërbimet" class="services">
      <h3>Cfare Ofrojme</h3>
      <AllServices
        data={[
          {
            image: "web-management_5403719.png",
            title: "Zhvillim i Përshtatur Web",
            services: [
              "UX/UI Design",

              "Faqe Interneti Responsive",

              "CMS or Code(p.sh., Webflow ose të personalizuara)",

              "Optimizim SEO",
            ],
          },
          {
            image: "digital-campaign_3247767.png",
            title: "Marketing Teknologjik",
            services: [
              "Meta Ads (Facebook / Instagram)",

              "Google Ads",

              "Gjurmim Konversioni & Analitikë",

              "Fushata Ritargetimi",
            ],
          },
          {
            image: "fingerprint_550097.png",
            title: "Branding & Dizajn",
            services: [
              "Logo",

              "Identitet Marke",

              "Faqe Destinacioni",

              "Sisteme Dizajni",
            ],
          },
        ]}
      />
      <div class="service_cta">
        <ActionElement href="#kontakti" mode="primary"
          >Na dërgoni për të filluar</ActionElement
        >
      </div>
    </section>

    <section class="process">
      <h3>Procesi</h3>
      <ProcessStep
        process={[
          [
            "Zbulimi & Përcaktimi i Qëllimeve",
            "Takimi fillestar për të kuptuar biznesin e klientit, audiencën e synuar dhe objektivat në internet. Kjo përfshin diskutimin e identitetit të markës, veçorive të dëshiruara dhe qëllimeve afatgjata.",
          ],
          [
            "Hulumtim & Planifikim Strategjik",
            "Analizë e konkurrentëve dhe e tregut për të identifikuar mundësitë. Krijohet një strategji e personalizuar, që përfshin strukturën e faqes internet, SEO, si dhe sugjerime për rrjetet sociale ose reklamat në internet, nëse është e nevojshme.",
          ],
          [
            "Mbledhja e Përmbajtjes & Drejtimi Kreativ",
            "Klienti siguron të gjitha materialet e nevojshme: logo, foto, tekste dhe asete të branding-ut. Nëse është e nevojshme, zhvilluesi ndihmon me krijimin e përmbajtjes (p.sh. copywriting, fotografi ose dizajn grafik)",
          ],
          [
            "Dizajn & Zhvillim i Faqes Internet",
            "Faqja duhet të jetë vizualisht tërheqëse, e lehtë për t'u përdorur, e përshtatshme për mobile, dhe e optimizuar për shpejtësi dhe SEO. Klienti merr përditësime të rregullta gjatë procesit.",
          ],
          [
            "Mbështetje & Rritje",
            "Klienti merr trajnime (nëse është e nevojshme) për të menaxhuar faqen dhe ka mbështetje të vazhdueshme për përditësime teknike, ndihmë në probleme dhe shërbime marketingu dixhital për të rritur prezencën online.",
          ],
        ]}
      />
    </section>

    <CtaSection>
      <Fragment slot="title">
        Shkëlqe në internet. Tërhiq klientët idealë
      </Fragment>
      <Fragment slot="description">
        Me ne, biznesi juaj do të fitojë një prezencë dixhitale profesionale që
        inspiron besim, nxit lidhje me audiencën dhe gjeneron rezultate të
        matshme. Le ta transformojmë vizionin tuaj në sukses online.
      </Fragment>
      <Fragment slot="cta_btn">Merrni Një Konsultim Falas</Fragment>
    </CtaSection>

    <section class="projects" id="projektet">
      <h3>Projektet</h3>
      <AllProjects
        data={[
          {
            title: "Consor",
            description:
              "Në Website Tech Albania, e kemi bërë të mundur: një platformë të fuqishme web, identitet vizual që mbahet mend, dhe strategji marketingu që sjellin rezultate. Të gjitha në një vend.",
            href: "https://consortiamanager.com/",
            services: [
              "Zhvillim i Përshtatur Web",
              "Branding & Dizajn",
              "Marketing Teknologjik",
            ],
            img: "consor.png",
          },
          {
            title: "ProfitMetrics",
            description:
              "Në Website Tech Albania, e kemi bërë të mundur: një platformë të fuqishme web, identitet vizual që përmbahet në mendje, dhe strategji marketingu që sjellin rezultate. Të gjitha në një vend.",
            href: "https://profitmetrics.io/",
            services: [
              "Zhvillim i Përshtatur Web",
              "Branding & Dizajn",
              "Marketing Teknologjik",
            ],
            img: "profit.png",
          },
          {
            title: "Darte",
            description:
              "Në Website Tech Albania, e kemi bërë të mundur: një platformë të fuqishme web, identitet vizual që përmbahet në mendje, dhe strategji marketingu që sjellin rezultate. Të gjitha në një vend.",
            href: "https://darte.al/",
            services: [
              "Zhvillim i Përshtatur Web",
              "Branding & Dizajn",
              "Marketing Teknologjik",
            ],
            img: "darte.png",
          },
        ]}
      />
    </section>
    <script>
      const elements = document.querySelectorAll(
        `h3, .member_card, .sub_title, .our_purpose, .service, .section_cta, .project_container`
      );
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add("animate");
              observer.unobserve(entry.target);
            }
          });
        },
        { threshold: 0.5 }
      );

      elements.forEach((entry) => observer.observe(entry));
    </script>
  </body>
</html>
