---
interface Props {
  mode: "primary" | "secondary";
  type?: "btn";
  href?: string;
}
const { type, mode, href } = Astro.props;
---

{
  type == "btn" ? (
    <button class:list={[mode]}>
      <slot />
    </button>
  ) : (
    <a class:list={[mode]} href={`${href}`}>
      <slot />
    </a>
  )
}
<style>
  a,
  button {
    font-size: 1.125rem !important;
    transition: all 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-weight: bold;
    color: var(--paragraph-color);
    font-size: 1rem;
  }
</style>
