<div class="detail">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 24 24"
  >
    <!-- Icon from Huge Icons by Hugeicons - undefined -->
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.5"
      d="M5 14.5s1.5 0 3.5 3.5c0 0 5.559-9.167 10.5-11"
      color="currentColor"></path>
  </svg>
  <p><slot/></p>
</div>
<style>
  .detail {
    gap: 0.5rem;
    grid-template-columns: auto 1fr;
    display: grid;
    align-items: center;
  }
  svg {
    color: var(--primary-btn-bg);
  }
  p {
    font-size: 1.125rem;
  }
</style>
