---
interface Props {
  features: string[];
  niche: "user" | "company";
}
const { features, niche } = Astro.props;
const type: { user: string; company: string } = {
  user: "userFeatures",
  company: "companiesFeatures",
};
---

<div class="parent">
  {features.map((feature) => <p class:list={[type[niche]]}>{feature}</p>)}
</div>

<style>
  .parent {
    gap: 0.25rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .parent p {
    gap: 0.25rem;
    width: max-content;
    border-radius: 8px;
  }
</style>
