---
import MenuElement from "../../components/MenuElement.astro";
---

<header>
  <nav>
    <div class="logo">
      <p><a href="#">Website Tech Albania</a></p>
    </div>
    <div class="hamburge-btn">
      <button id="toggleMenu">
       dsdsds
      </button>
    </div>
    <MenuElement pages={["rreth Nesh", "shërbimet", "projektet", "kontakti"]} />
  </nav>
</header>

<style>
  p a {
    font-family: var(--logo-font);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--logo-color);
  }
  nav {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
    padding: 1rem 0;
    align-items: center;
    justify-content: space-between;
  }
  .hamburge-btn{
    display: none;
  }
  header {
    overflow: visible;
    z-index: 1;
    margin: 0;
    position: fixed;
    top: 0;
    left: 50%;
    border-radius: 4px;
    box-shadow: 0px -2px 10px black;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--main-bg);
  }
</style>
