---
interface Props {
  idName: string;
  className: string;
  bg: string;
}
const { idName, className, bg } = Astro.props;
---

<div
  style=`background-color
:${bg}`
  id={idName}
  class:list={[className, "fullWidth"]}
>
  <div class="centered">
    <slot />
  </div>
</div>
<style>
  .centered {
    max-width: 1285px;
    margin: auto;
  }
  .fullWidth {
    max-width: 100%;
  }
</style>
