<div class="part_2">
  <p>Harta e faqes</p>
  <div class="footer_menu">
    <ul>
      <li><a href="/#">Faqja Kryesore</a></li>
      <li><a href="#rreth_nesh">Rreth Nesh</a></li>
      <li><a href="#shërbimet">Shërbimet </a></li>
      <li><a href="#projektet">Projektet</a></li>
      <li><a href="#kontakti">Kontakti </a></li>
    </ul>
  </div>
</div>
<style>
  ul {
    margin-top: 1rem;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 1rem;
  }
</style>
