---
interface Props {
  email: string;
  phone: string;
}
const { email, phone } = Astro.props;
---

<div class="part_3">
  <p>Kontaktoni</p>
  <div class="email">
    <p>Email:</p>
    <a href={`mailto:${email}`}>{email}</a>
  </div>
  <div class="phone">
    <p>Telefoni:</p>
    <a href=`tel:${phone}`>{phone}</a>
  </div>
</div>
<style>
    .phone, .email{
        margin-top: 1rem;
    }

</style>